.cartContainer {
    text-align: center;
    background-color: #64C59A;
}
.title {
    font-size: 30px;
    color: white;
    margin-top: 20px;
}
.itemAmount {
    color: white;
}
.cartList {
    background-color: #89D6B8;
    margin-bottom: 10px;
}
.total {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.remove {
    float: right;
}
.adjustBtn {
    margin: 0 10px 0 10px;
}
.checkoutBtn {
    line-height: 30px;
    padding: 5px 40px;
    margin: 10px 20px 0 10px;
    background-color: #C8EDE0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

hr {
    border: 1px solid white;
    width: 85%;
}

.cartBottom {
    text-align: right;
}

.emptyCart {
    margin-right: 20px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.emptyCart button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

@media (min-width: 1023px){
    .cartContainer {
        width: 700px;
    }
}