.container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.itemContainer {
    border-style: solid;
    border-color: #64C59A;
    margin: 20px 10px 10px 10px;
    text-align: center;
}

.imgDiv {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}
.fruitImg{
    max-width:100%;
    max-height:100%;
}
.fruitName {
    width: 230px; 
    margin: 0 auto;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fruitName:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;
}
.addButton {
    width: 80%;
    line-height: 30px;
    margin: 10px 0;
    background-color: #64C59A;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .itemContainer{
        flex-basis:auto;
        flex-grow: 1;
    } 
}