.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%
}
.itemContainer {
    border-style: solid;
    border-color: #64C59A;
    margin: 20px 10px 10px 10px;
    text-align: center;
}

.imgDiv {
    width: 250px;
    height: 220px;
}
.fruitImg{
    max-width:100%;
    max-height:100%;
}
.fruitName {
    width: 230px;
    word-wrap: break-word;  
    margin: 0 10px 10px 10px;
}
.addButton {
    width: 80%;
    line-height: 30px;
    margin: 10px 0;
    background-color: #64C59A;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}